body {
  font-family: Verdana, san-serif;
  text-align: center;
  background-color: black;
  color: white;
}

h1 {
  font-size: 50px;
}

.cta {
  font-size: 16px;
  color: aquamarine;
}

video {
  object-fit: contain;
}

p{
  color: gray;
  font-size: 21px;
}

h2 {
  font-size: 42px;
}

.footer {
  text-align: right;
}
